<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.haostay.mobile.book.update" version="0.0.1">
  <name>HAOSTAY-UPDATE</name>
  <description>Native Update for Cordova</description>
  <license>Apache 2.0</license>
  <keywords>cordova,NSUserDefaults,SharedPreference,phonegap</keywords>
  <js-module src="www/HAOSTAYUPDATE.js" name="HAOSTAYUPDATE">
    <clobbers target="HAOSTAYUPDATE"/>
  </js-module>
  <platform name="android">
      <config-file target="res/xml/config.xml" parent="/*">
          <feature name="HAOSTAYUPDATE">
              <param name="android-package" value="com.haostay.mobile.book.update.CheckUpdatePlugin"/>
          </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest">
          <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
      </config-file>
      <source-file src="src/android/CheckUpdatePlugin.java" target-dir="src/com/haostay/mobile/book/update"/>
      <source-file src="src/android/SureButtonListener.java" target-dir="src/com/haostay/mobile/book/update"/>
      <source-file src="src/android/Update.java" target-dir="src/com/haostay/mobile/book/update"/>
  </platform>
</plugin>